.flex{
    display: flex;
}



.imagem-receita{
    width: 450px;
    height: auto;
}

.container-titulo{
    width: 700px;
    margin-right: 100px;
    margin-left: 50px;
}

.titulo{
    font-size: 1.2rem;
    margin-top: 10px;
}

.ingredientes{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}